CompileFlags:
  Add: [
  -std=c++23,
  -Wall,
  -Wextra,
  -Werror,
  -Wpedantic,
  -Wconversion,
  -Wpessimizing-move,
  -Wswitch-default,
  -Wimplicit-fallthrough,
  -Wtautological-overlap-compare,
]
